.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  border: 1px solid black;
  text-align: center;
}

.hours {
  position: absolute;
  width: 6px;
  height: 60px;
  background: #222;
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.minutes {
  position: absolute;
  width: 4px;
  height: 80px;
  background: #444;
  top: 23.5%;
  left: 49%;
  transform-origin: bottom;
}

.seconds {
  position: absolute;
  width: 2px;
  height: 118px;
  background: red;
  top: 10.5%;
  left: 50%;
  transform-origin: bottom;
}
