.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
}

.board {
  display: grid;
}

.restart {
  padding: 10px 15px;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart.disabled {
  background: gray;
  cursor: not-allowed;
}
